fastapi==0.115.12
uvicorn[standard]==0.34.2
sqlalchemy==2.0.40
pydantic[email]==2.11.1
python-jose[cryptography]==3.4.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.20
openai-whisper==20240930
openai==1.82.0
python-dotenv==1.1.0
